.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  .item {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    &:hover {
      
    }
  }
}